<header>
  <div class="logo">
    <a href="">
      <img src="assets/images/logo.png" alt="Logo" />
    </a>
  </div>
  <nav>
    <ul>
      <li> <a href="">Home</a> </li>
      <li> <a href="">Contato</a> </li>
      <li> <a routerLink="/trabalhe-conosco">Trabalhe Conosco</a> </li>
      <li> <a href="">Suporte</a> </li>
    </ul>
    <div class="mobile-menu">
      <button id="mobile-menu-button" class="menu-icon">
        <i class="fas fa-bars"></i>
      </button>
      <ul id="mobile-menu-list" class="mobile-menu-list">
        <li> <a href="">Home</a> </li>
        <li> <a href="">Contato</a> </li>
        <li> <a routerLink="/trabalhe-conosco">Trabalhe Conosco</a> </li>
        <li> <a href="">Suporte</a> </li>
      </ul>
    </div>
  </nav>
</header>
