<header>
  <div class="logo">
    <a href="#"><img src="/assets/images/logo.png" alt="Logo SHTecnologia"></a>
  </div>
  <div class="interface">
      <nav class="menu-desktop">
          <ul>
              <li><a routerLink="/" class="linknav">Home</a></li>
              <li><a routerLink="/" (click)="scrollToSection('parceiros')">Parceiros</a></li>
              <li><a routerLink="/" (click)="scrollToSection('contato')" class="linknav">Contato</a></li>
              <li><a routerLink="/suporte" class="linknav">Suporte</a></li>
              <li class="phone-item">
                  <a href="#">
                    <i class="fa-solid fa-headset"></i>
                    <span class="phone-number">(27) 3722-6905</span>
                  </a>
              </li>
          </ul>
      </nav>
      <div class="abrir" id="abrir">
          <i class="fa-solid fa-bars"></i>
      </div>
      <div class="menu-mobile" id="menu-mobile">
          <div class="fechar">
              <i class="fa-solid fa-xmark" style="cursor: pointer;"></i>
          </div>
          <nav>
              <ul>
                  <li><a routerLink="/" class="linknav">Home</a></li>
                  <li><a routerLink="/" (click)="scrollToSection('parceiros')">Parceiros</a></li>
                  <li><a routerLink="/" (click)="scrollToSection('contato')" class="linknav">Contato</a></li>
                  <li><a routerLink="/suporte" class="linknav">Suporte</a></li>
                  <li class="phone-item">
                    <a href="#">
                      <i class="fa-solid fa-headset"></i>
                      <span class="phone-number">(27) 3722-6905</span>
                    </a>
                </li>
              </ul>
          </nav>
      </div>
      <div class="overlay-menu" id="overlay-menu"></div>
  </div>
</header>
