<footer>
  <div class="footer-content">
    <div class="logo-section">
      <img src="assets/images/logo.png" alt="Box Tecnologia Logo" />
      <ul class="contact-info">
        <li><span>TELEFONE:</span> (27) 3722-6905</li>
        <li><span>E-MAIL:</span> {{ email }}</li>
        <li>
          <span>ENDEREÇO:</span> R. Geraldo Pereira, 11 - 4º Andar Sala 4 <br />
          Centro, Colatina - ES, 29700-130
        </li>
      </ul>
      <div class="social-icons">
        <a href="https://www.instagram.com/sh.tecnologia/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.facebook.com/shtecno" target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
      </div>
    </div>

    <div class="links-section">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/politica-de-privacidade">Política de privacidade</a></li>
        <li><a href="/termos-de-uso">Termos de uso</a></li>
      </ul>
      <ul>

        <li><a routerLink="/trabalhe-conosco">Trabalhe Conosco</a></li>
        <li><a href="/" (click)="scrollToSection('contato')">Contato</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>
        © Copyright 2024. Todos os direitos reservados à SH Tecnologia -
        20.384.296/0001-07.
      </p>
    </div>
  </div>
</footer>
