<footer>
  <div class="footer-content">
    <div class="logo-section">
      <img src="assets/images/logo.png" alt="Box Tecnologia Logo" />
      <ul class="contact-info">
        <li><strong>TELEFONE</strong>: (27) 3722-6905</li>
        <li><strong>E-MAIL</strong>: email </li>
        <li><strong>ENDEREÇO</strong>:  R. Geraldo Pereira, 11 - 4º Andar Sala 4 <br /> Centro, Colatina - ES, 29700-130 </li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.facebook.com/shtecno" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      </div>
    </div>

    <div class="links-section">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Institucional</a></li>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Soluções</a></li>
      </ul>
      <ul>
        <li><a href="#">Backup</a></li>
        <li><a href="#">Hospedagem</a></li>
        <li><a href="#">Recuperação de Desastres</a></li>
        <li><a href="#">Contabilidade</a></li>
      </ul>
      <ul>
        <li><a href="#">E-mail Corporativo</a></li>
        <li><a href="#">Cyber Segurança</a></li>
        <li><a href="#">Office Cloud</a></li>
      </ul>
      <ul>
        <li><a href="#">Servidor em Nuvem</a></li>
        <li><a href="#">Terceirização de TI</a></li>
        <li><a href="#">Firewall</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>© Copyright 2024. Todos os direitos reservados à SH Tecnologia - 20.384.296/0001-07.</p>
    </div>
  </div>
</footer>
