footer {
  background-color: #111;
  color: #fff;
  padding: 40px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-section {
  width: 30%;
}

.logo-section img {
  width: 120px;
  margin-bottom: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info span {
  color: gray;
}

.contact-info li {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a i {
  font-size: 2.5rem;
  color: var(--cor1);
}

.social-icons a i:hover {
  color: var(--cor2);
}

.links-section {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  margin-bottom: 10px;
}

.links-section a {
  color: #fff;
  text-decoration: none;
}

.links-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  width: 100%;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 12px;
  color: #888;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-section,
  .links-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo-section img {
    display: none;
  }

  .links-section {
    display: block;
  }

  .links-section ul {
    margin-bottom: 20px;
  }

  .social-icons a i {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 20px;
  }

  .logo-section img {
    width: 80px;
  }

  .social-icons a i {
    font-size: 1.8rem;
  }

  .footer-bottom p {
    font-size: 11px;
  }
}
