<section>
  <aside>
    <img src="assets/images/Suporte.jpg" alt="Controle de Qualide">
  </aside>
  <div>
    <h2>Nós podemos te ajudar!</h2>

    <p>Para que possamos ajudar você com rapidez e eficiência, entre em contato conosco.</p>

    <p>Para isso, tenha em mãos o e-mail e a senha de acesso da sua conta e clique no botão abaixo para acessar nossa Central de Suporte.</p>

    <button>Central de Suporte</button>
    <button>Abra um ticket</button>
    <button>Suporte Remoto</button>
  </div>
</section>
