<section>
  <aside>
    <img src="assets/images/Suporte.jpg" alt="Controle de Qualide">
  </aside>
  <div>
    <h2>Nós podemos te ajudar!</h2>

    <p>Para que possamos ajudar você com rapidez e eficiência, entre em contato conosco.</p>

    <p>Para isso, tenha em mãos o e-mail e a senha de acesso da sua conta e clique no botão abaixo para acessar nossa Central de Suporte.</p>

    <a>Central de Suporte</a>

    <a href="https://app.tiflux.com/r/externals/tickets/new/baee361dcebdba702cfe0d7e1781aafb085deb69">
      Abrir ticket
    </a>

    <a href="https://898.tv/shtecno1">
      Suporte Remoto
    </a>
  </div>
</section>
