.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url(/assets/images/BannerImage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 50%;
}

main h2 {
  font-size: 2rem;
  font-weight: normal;
  color: white;
  line-height: 1.5;
}


aside {
  width: 45%;
  display: flex;
  flex-direction: column;
}

aside p {
  font-size: 1.1rem;
  color: #ffffff;
}

.service-item.selected {
  border-bottom: 5px solid white;
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.service-item {
  background-color: var(--cor2);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
}

.service-item:hover {
  transform: translateY(-5px);
  background-color: #1c98d6;
}

.service-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.service-item i {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    width: 100%;
    margin-bottom: 20px;
  }

  main h2 {
    margin-top: 50px;
  }

  aside {
    width: 100%;
  }

  .service {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  main h2 {
    font-size: 1.5rem;
  }

  main button {
    font-size: 14px;
    padding: 8px 16px;
  }

  aside p {
    font-size: 1rem;
  }

  .service-item i {
    font-size: 30px;
  }

  .service-item p {
    font-size: 14px;
  }
}
