<section>
  <aside>
    <img src="assets/images/ControleQualidade.webp" alt="Controle de Qualide">
  </aside>
  <div>
    <h2>Proteja a maior riqueza da sua empresa, proteja seus dados!</h2>

    <p>O avanço tecnológico no mundo pode trazer diversos benefícios, mas também abre portas para novas ameaças virtuais, que surgem cada vez mais perigosas.</p>

    <p>Em 2021, o Brasil entrou para a lista dos países que mais sofrem ataques cibernéticos no mundo, chegando a ocupar a 2ª posição no ranking mundial. No ambiente corporativo, neste período, a estimativa é que os ataques ilícitos tenham aumentado em cerca de 300%.</p>

    <p>Invista na segurança da informação e evite prejuízos para a sua organização.</p>
  </div>
</section>
