#robbu-whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#robbu-whatsapp-button img {
  height: 60px;
  width: auto;
  transition: all 0.3s ease;
}

#robbu-whatsapp-button:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #robbu-whatsapp-button {
      display: block;
  }
}

@media (max-width: 480px) {
  #robbu-whatsapp-button img {
      height: 50px;
  }
}
