<div class="trabalhe-conosco-container">
  <h2>Trabalhe Conosco</h2>
  <form [formGroup]="trabalhoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nome" type="text" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input id="telefone" formControlName="telefone" type="text" required />
    </div>
    <div class="form-group">
      <label for="estado">Estado:</label>
      <input id="estado" formControlName="estado" type="text" required />
    </div>
    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <input id="cidade" formControlName="cidade" type="text" required />
    </div>

    <!-- Campo Selecionar Vaga -->
    <div class="form-group">
      <label for="vaga">Selecionar Vaga:</label>
      <select id="vaga" formControlName="vaga" *ngIf="vagasDisponiveis.length > 0">
        <option *ngFor="let vaga of vagasDisponiveis" [value]="vaga">{{ vaga }}</option>
      </select>
      <p *ngIf="vagasDisponiveis.length === 0">No momento, não há vagas disponíveis.</p>
    </div>

    <div class="form-group">
      <label for="mensagem">Mensagem:</label>
      <textarea id="mensagem" formControlName="mensagem" required></textarea>
    </div>
    <div class="form-group">
      <label for="curriculo">Anexar Currículo (PDF, DOC, DOCX OU TXT):</label>
      <input id="curriculo" type="file" (change)="onFileChange($event)" />
    </div>
    <button type="submit" [disabled]="trabalhoForm.invalid">Enviar</button>
  </form>
</div>
