.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-container h1{
  margin-bottom: 20px;
}

.blog-post {
  display: flex;
  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.blog-post-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.blog-post-content {
  max-width: 800px;
}

.blog-post h2 {
  margin: 0;
  font-size: 24px;
}

.author {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.excerpt {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.read-more {
  color: #007BFF;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}
